<h1>More information on <%= @show.title %>!</h1>
<ul>
  <li>Title: <%= @show.title %></li>
  <li>Rating: <%= @show.rating %></li>
  <li>Where to watch: <%= @show.streaming_service %></li>
  <li>Review: <%= @show.review %></li>
</ul>

<!-- add an edit (link) and delete button (form) right here -->

