<h1>More information on <%= @show.title %>!</h1>
<ul>
  <li>Title: <%= @show.title %></li>
  <li>Rating: <%= @show.rating %></li>
  <li>Where to watch: <%= @show.streaming_service %></li>
  <li>Review: <%= @show.review %></li>
</ul>

  <% if current_user == @show.user %>
<br><a href='/shows/<%= @show.id %>/edit' class="button">Edit Show Here</a>

<form method="POST" action="/shows/<%=@show.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Show">
</form>
  <% end %>

