<h1>More information on <%= @show.title %>!</h1>
<ul>
  <li>Title: <%= @show.title %></li>
  <li>Rating: <%= @show.rating %></li>
  <li>Where to watch: <%= @show.streaming_service %></li>
  <li>Review: <%= @show.review %></li>
</ul>


<br><a href='/shows/<%= @show.id %>/edit' class="button">Edit Show Here</a>
<!-- add an edit (link) and delete button (form) right here -->

